@CHARSET "UTF-8";

tt {
	padding: 2px 4px;
	font-size: 90%;
	color: green;
	white-space: nowrap;
	background-color: #f9f2f4;
	border-radius: 4px;
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

.auto-height-body {
	max-height: 460px;
	_height: 460px;
	overflow-y: auto;
}

.message_remind_form {
	color: #999;
	margin: 7px 0 0 5px;
}

.message_remind_form.current {
	color: #333;
}